@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
  }

  /* first page */

  #home {
    background-color: #ffefc9;
    min-height: 35em;
    overflow: hidden;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: auto;

    min-width: 100%;
    min-height: 1rem;
    padding: 1em 0em;

    border-bottom: 2px solid black;
    background-color: white;
    color: black;

    position: fixed;
    z-index: 99999;
  }

  .name-logo {
    font-size: 1.4rem;
  }
  .navbar li {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.8rem;
  }

  .navbar li:hover {
    color: rgb(232, 137, 29);
  }

  .profile-picture {
    position: relative;
    height: 10%;
  }

  .profile-picture img {
    height: 25em;

    position: absolute;
    top: 13em;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .introduction {
    position: relative;
    text-align: center;
    top: 15em;

    padding: 1em 2em;
  }

  .introduction h1 {
    padding-bottom: 0.5em;
  }

  .button {
    padding-top: 1em;
    padding-bottom: 0.2em;
  }

  .button button {
    background-color: rgba(253, 191, 97, 0.926);
    border-style: none;
    border-radius: 1em;

    padding: 0.5em;

    cursor: pointer;
    font-weight: 500;
    border-style: none;

    outline: 2px solid #000000;
  }

  .button button:hover {
    background-color: white;
  }

  .social-media {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .social-media li {
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
  }

  .social-media li a {
    color: black;
    transition: all 0.1s ease-in-out;
    font-size: 1rem;
  }

  .social-media li a:hover {
    color: rgba(253, 191, 97, 0.926);
  }

  .banner {
    position: absolute;
    z-index: 9;

    width: 100%;
    text-align: center;

    top: 35em;
  }

  .banner p {
    background-color: rgb(253, 191, 97, 0.926);
    border-top: solid black 2px;
    border-bottom: solid black 2px;

    padding: 0.5em;
  }

  /* second page */

  #skills {
    min-height: 25em;
    background-color: green;
  }

  .skills-explain {
    text-align: center;
    position: relative;
    top: 5em;
  }

  .skills-explain h1 {
    padding-bottom: 0.5em;
  }

  .column-title {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;

    display: flex;
    text-align: center;
    justify-content: center;

    gap: 1em;

    margin: 0.5em 1.9em;
    margin-top: 2em;
  }

  .column-title > div {
    background-color: rgb(253, 191, 97, 0.926);
  }

  .column-text > div {
    background-color: #ffefc9;
  }

  .column-text {
    display: flex;
    gap: 1em;
    text-align: center;
    justify-content: center;

    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;

    margin: 0.5em 1.9em;
  }

  .column-skills {
    flex: 1;
    padding: 0.5em;
    border: 1px solid #000000;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column-skills ul li {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;

    list-style-type: disc;
  }

  /* Third Page */

  #gallery {
    min-height: 30em;
    margin-bottom: 2em;
    background-color: pink;
  }

  .galley-container {
    margin-top: 3em;
    text-align: center;
  }

  .galley-container > h1 {
    padding-bottom: 1em;
  }

  .galley-container > p {
    margin-bottom: 1.5em;
    display: inline-block;
    padding: 0.5em 0.5em;
    font-weight: 500;
    background-color: rgb(253, 191, 97, 0.926);
  }

  * {
    box-sizing: border-box;
  }

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 0.8rem;
    padding: 1em 3em;
    position: absolute;
    top: 0;
  }

  .row {
    background-color: #ffefc9;
    padding: 1em 0.5em;
    margin: 1.5em 0.5em;
    border-style: solid;
    border-radius: 1em;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    display: inline-block;
    width: 15%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  .frontend-gallery > p {
    margin-top: 2em;
    margin-bottom: 1.5em;
    display: inline-block;
    padding: 1em 2em;
    font-weight: 500;
    background-color: rgb(253, 191, 97, 0.926);
  }

  .scoreCheck img {
    width: 87%;
    outline: 2px solid black;
    margin: 1em em;
  }

  .scoreCheck p {
    margin-top: 1.5em;
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 3em;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .comingSoon img {
    width: 87%;
    outline: 2px solid black;
    margin: 1em em;

  }

  .comingSoon,
  .scoreCheck {
    opacity: 1;
  }

  .active,
  .comingSoon,
  .scoreCheck:hover {
    opacity: 0.6;
  }

  .comingSoon p {
    margin-top: 1em;
    font-style: italic;
    font-size: 1rem;
  }

  /* Fourth Page */
  #contact {
    min-height: 18em;
    background-color: #ffefc9;
    border-top: #000000 dotted 5px;
  }

  .contact-container {
    text-align: center;
    position: relative;
    top: 4.5em;
  }

  .contact-container h1 {
    margin: 0.25em;
  }

  .secBanner {
    background-color: white;
    
    position: absolute;
    z-index: 9;

    width: 100%;
    text-align: center;

    margin-top: 9.5em;

    border-top: solid black 2px;
    border-bottom: solid black 2px;

    padding: 0.5em;
  }

  /* fifth page */

  footer {
    min-height: 7em;
    background-color: rgb(253, 191, 97, 0.926);
  }

  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer-container > .name-logo {
    font-size: 1rem;
    margin-top: 3.2em;
  }

  .footer-container p {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .nav {
    height: 50px;
    padding: 20px 0px;
  }

  .name-logo {
    font-size: 2rem;
  }
  .navbar li {
    display: inline-block;
    margin-left: 12px;
    font-size: 1rem;
  }

  #home {
    height: 55vh;
  }
}
